* {
    box-sizing: border-box;
}


ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#appItem {
    position: relative;
}

.sectionHeading {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.sectionTitle {
    font-style: normal;
    line-height: 1.33;
    letter-spacing: -0.45px;
    color: #676767;
    font-size: 18px;
    margin: 0;
    padding: 0 20px;
}

.numberOfItems {
    margin: 0 0px 0 10px;
    padding: 0 5px;
    text-align: center;
    border-radius: 4px;
    background-color: #2766cc;
    text-align: center;
    color: #ffffff;
}

/* app display  */
.appComps {
    margin: 0;
    padding: 0;
}

.appContent {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 0 20px;
}

/* app display  */

/* header section  */
.storeMarker {
    background-color: #2766cc;
}

.storeMarker p {
    padding: 10px 20px;
    margin: 0;
    text-align: center;
    color: white;
    font-weight: 600;
}

.headerSection {
    border-bottom: 1px solid #d4d4d4;
    margin-bottom: 30px;
}

.headerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 40px;
}

.headerText .headerTitle {
    color: #262626;
    margin: 5px 0;
}

.headerText .headerSubttle {
    color: #676767;
    margin: 0;
    padding: 0;
}

.headerIcon {
    width: 10%;
}

.headerIcon img {
    width: 70%;
}

.headerContent .navItems {
    display: none;
}

/* header section  */

/* product section  */
.itemsContainer {
    position: relative;
}

.searchBar form {
    text-align: center;
    position: absolute;
    top: -50px;
    width: 90%;
}

.searchBar form input[type=text]{
    width: 70%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 10px;
    border: none;
    background-color: #ecebeb;
}

.searchBar form button{
    padding: 8.5px;
    border: none;
    background-color: #f8de4b;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.searchBar form button::after {
    content:'\002315';
    display: block;
    font-size: 14px;
    font-weight: bold;
}

/* product cards  */
.productCard {
    display: flex;
    align-items: flex-start;
    margin: 30px 0;
    padding: 0 20px;
}

.productImage {
    width: 20%;
}

.productImage img {
    width: 100%;
}

.productDetails {
    margin-left: 30px;
    position: relative;
    width: 50%;
}

.productName {
    color: #262626;
    text-transform: capitalize;
    line-height: 1.29;
    margin-top: 0;
}

.productPrice {
    color: #676767;
    padding-bottom: 0;
    margin-bottom: 2px;
}

.displayDiscount {
    padding: 3px 6px 1px 7px;
    background-color: #dd655e;
    position: absolute;
    top: 39px;
    left: -70px;
    width: 40px;
    height: 15px;
    font-size: 10px;
    text-align: center;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    font-weight: 600;
    color: white;
}

.productPrice p {
    padding-bottom: 0;
    margin-bottom: 2px;
}

.discountedPrice {
    color: #a8a8a8;
    text-decoration: line-through;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.addBtn {
    margin-left: auto;
}

.addBtn a {
    text-decoration: none;
    text-transform: uppercase;
    background-color: #fff;
    border: 2px solid #2766cc;
    border-radius: 5px;
    padding: 2px 3px;
    color: #2766cc;
    font-weight: 400;
}

/* product cards  */
/* product section  */

/* menu section  */
.menuContainer {
    display: none;
}

.categoryName {
    text-transform: capitalize;
}

.categoryName a {
    text-decoration: none;
    line-height: 1.5;
    letter-spacing: -0.4px;
    color: #676767;
    display: block;
    position: relative;
    transition: all ease-in 0.3s;
}

.categoryName a:hover {
    border-right: 4px solid #2766cc;
    color: #2766cc;
}

.categoryName a:hover::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    position: absolute;
    top: 0;
    background-image: linear-gradient(to right, rgba(39, 102, 204, 0.212), #2766cc 100%);
    transition: all ease-in 0.3s;
}
.categoryName {
    margin-bottom: 20px;
}

.displayCategories a{
    text-decoration: none;
    color: #2766cc;
    font-weight: bold;
    position: relative;
    display: block;
}

.displayCategories a::after {
    content: '\005E';
    transform: rotate(90deg);
    position: absolute;
    right: 20px;
    top: 2px;
    font-weight: bold;
}

/* menu section  */


/* bag section  */
.bagContainer {
    display: none;
}

.bagIcon img {
    width: 40%;
}

/* bag section  */

/* footer section  */

.companyFeatures {
    color: white;
    margin: 61px 0 40px;
    padding: 20px 120px;
    background-color: #2766cc;
    text-align: center;
}

.companyFeatures img {
    width: 50%;
}

.companyDetails {
    text-align: center;
    padding-bottom: 60px;
}

.storeDetails {
    color: #a8a8a8;
    font-size: 12px;
    text-transform: uppercase;
}

.companyName {
    line-height: 1.44;
    color: #262626;
    letter-spacing: normal;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0;
    padding-bottom: 0;
}

.companyAddress {
    color: #676767;
    font-size: 14px;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: -0.1px;
    margin-top: 10px;
    padding-top: 0;
}

/* footer section  */

/* media queries  */
@media screen and (min-width: 600px) {

    .appContent {
        padding: 0 40px;
    }

    /* header  */
    .storeMarker p {
        padding: 10px 160px;
        margin: 0;
        color: white;
        font-weight: 600;
        text-align: left;
    }

    .headerContent {
        display: flex;
        flex-direction: row;
        text-align: left;
        align-items: center;
        justify-content: flex-start;
        padding: 30px 160px;
    }

    .headerContent .navItems {
        display: flex;
        margin-left: auto;
    }

    .navItems span {
        color: #a8a8a8;
        padding-left: 10px;
    }

    .navItems img {
        width: 25%;
    }

    .navItems li {
        display: flex;
        align-items: center;
    }

    /* header  */

    /* items section  */
    .itemsContainer:after {
        content: '';
        display: block;
        position: absolute;
        top: -30px;
        right: 0;
        width: 1px;
        height: 53.2em;
        background-color: #d4d4d4;
        z-index: 0;
    }
    
    .itemsContainer:before {
        content: '';
        display: block;
        position: absolute;
        top: -30px;
        width: 1px;
        height: 53.2em;
        background-color: #d4d4d4;
        z-index: 0;
    }
    /* items section  */

    /* menu section  */
    .menuContainer {
        display: block;
        width: 20%;
    }
    /* menu section  */

    /* items section  */
    .searchBar {
        width: 100%;
    }

    .searchBar form {
        text-align: center;
        position: absolute;
        top: -50px;
        width: 100%;
    }

    .searchBar form input[type=text]{
        width: 70%;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        padding: 10px;
        border: none;
        background-color: #ecebeb;
    }

    .searchBar form button{
        padding: 8.5px;
        border: none;
        background-color: #f8de4b;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        transition: all ease-in 0.2s;
    }

    .searchBar form button::after {
        content:'\002315';
        display: block;
        font-size: 14px;
        font-weight: bold;
    }

    .searchBar form button:hover {
        cursor: pointer;
        background-color: #c5b03a;
        transition: all ease-in 0.2s;
        color: rgb(235, 235, 235);
    }
    /* product card  */
    .displayDiscount {
        padding: 3px 6px 1px 7px;
        background-color: #dd655e;
        position: absolute;
        top: 92px;
        left: -70px;
        width: 40px;
        height: 15px;
        font-size: 10px;
        text-align: center;
        border-bottom-right-radius: 5px;
        border-top-left-radius: 5px;
        font-weight: 600;
        color: white;
    }

    .productImage {
        width: 15%;
    }

    .addBtn a {
        text-decoration: none;
        text-transform: capitalize;
        background-color: #fff;
        border: 2px solid #2766cc;
        border-radius: 5px;
        padding: 2px 8px;
        color: #2766cc;
        font-weight: 400;
        transition: all ease 0.2s;
        font-weight: 400;
    }

    .addBtn a:hover {
        background-color: #62a4ff;
        color: rgb(255, 255, 255);
    }

    /* product card  */
    /* items section  */
    /* bag section  */
    .bagContainer {
        display: block;
        width: 30%;
    }

    .bagContent {
        text-align: center;
    }

    /* bag section  */

    /* footer section  */
    .companyFeatures {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        color: white;
        margin: 61px 0 40px;
        padding: 20px 120px;
        background-color: #2766cc;
    }

    /* footer section  */

}

/* media queries  */